:root {
    --main-colour: navajowhite;
    --sub-colour: #e0e0e0;
    --ter-colour: #232323;
}

body {
    padding: 0px;
    margin: 0px; 
    font-family: sans-serif;
}

#container {
    color: var(--sub-colour);
    padding: 0 5vw 0 5vw;
}

.hide {
    display: none;
}

#notification-message {
    left: -40px;
    width: 100;
    left: 5vw;
    right: 5vw;
    border-radius: 5px;
    position: absolute;
    top: 13vh;
    color: var(--sub-colour);
    font-weight: bold;
}
#notification-message > p {
    overflow: hidden;
    text-align: center;
    transition-duration: 2s;
    width: 0%;
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--ter-colour);
    margin: auto;
    height: 20px;
}
#notification-message.show > p {
    width: 100%;
    padding:.5em;
}

#expenditures-table {
    text-align: center;
}

h1, h2, h3, h4, caption {
    color: var(--main-colour);
}