:root {
    --main-colour: navajowhite;
    --sub-colour: #e0e0e0;
    --ter-colour: #232323;
}

body {
    padding: 0px;
    margin: 0px; 
    font-family: sans-serif;
}

#container {
    color: var(--sub-colour);
    padding: 0 5vw 0 5vw;
}

.hide {
    display: none;
}

#notification-message {
    position: absolute;
    top: 18vh;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    color: var(--sub-colour);
    font-weight: bold;
}

table {
    margin: auto;
}
table caption {
    margin: 0.5em;
    font-weight: bold;
    color: var(--main-colour);
}
table th, table tr {
    padding: .5em;
}
table tr {
    border-bottom: red solid 1px;
    text-align: center;
}
table td[id^="actual-income-"] {
    background-color: green;
}