table {
    margin: auto;
}
table caption {
    margin: 0.5em;
    font-weight: bold;
    color: var(--main-colour);
}
table th, table tr {
    padding: .5em;
}
table tr {
    border-bottom: red solid 1px;
    text-align: center;
}
table td[id^="actual-income-"] {
    background-color: green;
}
table td[id^="total-paid-"] {
    background-color: red;
}
table tr td > button.remove {
    background-color: red;
    color: var(--sub-colour);
    border: 0;
    cursor: pointer;
}
table tr td > button.remove:hover {
    box-shadow: 0 0 3px 2px var(--main-colour);
}
table tr td {
    background: var(--ter-colour);
    padding: .5em;
}