<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/form.css">
  <link rel="stylesheet" href="../css/titleBar.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/table.css">
  <title>Income Organiser</title>
</head>

<body>

  <div id="title-bar">
    <div id="title">IO</div>
    <div id="title-bar-btns">
      <button id="min-btn">-</button>
      <button id="max-btn">+</button>
      <button id="close-btn">x</button>
    </div>
  </div>

  <div id="container">

    <header>
      <ul>
        <h1 id="income-organiser-title">Income Organiser</h1>
        <li id="show-income">Income</li>
        <li id="show-expendatures">Expendatures</li>
        <li id="reset">Reset</li>
      </ul>
    </header>

    <!-- <h1>Hello World!</h1>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.-->

    <form id="income-form">
      <fieldset>
        <legend>Income</legend>
        <label>
          Pension (%)
          <input id="pension" type="number" placeholder="3">
        </label>
        <label>
          Salary (before tax)
          <input id="salary" type="number" placeholder="32000">
        </label>
        <label class="left">
          Currency
          <input id="currency" type="text" placeholder="$">
        </label>
        <button type="button" id="submit-income-form">Save</button>
      </fieldset>
    </form>
    
    <div id="expendatures-table" class="hide">
      <button id="add-new-expendature" type="button">Add</button>
      <table>
        <tr>
         
            <th>Title</th><th>Cost</th><th>Date To Renew</th>
          
        </tr>
      </table>
    </div>

    <div id="income-organiser">
      <table>
        <caption>Income Organiser</caption>
        <tr class="table-row">
          <th>
            <th class="table-col">Monthly</th><th class="table-col">Yearly</th></th>
        </tr>
        <tr class="table-row">
          <th>Tax<td id="tax-monthly">4</td><td id="tax-yearly">20</td></th>
        </tr>
        <tr class="tale-row">
          <th>Pension<td id="pension-monthly">600</td></th><td id="pension-yearly">45000</td></th>
        </tr>
        <tr class="tale-row">
          <th>NI<td id="ni-monthly">600</td></th><td id="ni-yearly">45000</td></th>
        </tr>
        <tr class="tale-row">
          <th>Expendature<td id="expendeture-monthly">600</td></th><td id="expendeture-yearly">45000</td></th>
        </tr>
        <tr class="tale-row">
          <th>Total Paid<td id="total-paid-monthly">600</td></th><td id="total-paid-yearly">45000</td></th>
        </tr>
        <tr class="tale-row">
          <th>Actual Income<td id="actual-income-monthly">600</td></th><td id="actual-income-yearly">45000</td></th>
        </tr>
      </table>
    </div>

    <form id="add-expendeture-form" class="hide">
      <fieldset>
        <legend>Add Expendeture</legend>
        <label>
          Payment Title
          <input type="text" id="payment-title" placeholder="Petrol">
        </label>
        <label>
          Cost Per Month
          <input type="number" id="cost" placeholder="124">
        </label>
        <label>
          Date to Renew
          <input type="date" id="date-to-renew">
        </label>
        <button type="button" id="submit-expendature-form">Add</button>
      </fieldset>
    </form>

  </div>

  <!-- You can also require other files to run in this process -->
  <script src="../renderer.js"></script>
  <script src="../js/titleBar.js"></script>
  <script type="module" src="../js/index.js"></script>
  <script src="../js/IncomeOrganiser.js"></script>
  <script type="module" src="../js/header.js"></script>
</body>

</html>